
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Color de fondo suave */
    color: black;
}

header {
    background-color: white; /* Color de fondo del header */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Usar 100vh para centrar verticalmente el loader */
    width: 100%;
}

.loader img {
    width: 350px; /* Ancho del GIF */
}

main {
    padding: 20px;
}

.categories-container, .books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive para tarjetas */
    gap: 20px;
    color: white;
}

/* Estilos para las tarjetas de categorías */
.category-card {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.category-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-card h2 {
    margin: 0 0 10px;
}

.button-read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #fd8bffe9; /* Color del botón "READ MORE" */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-read-more:hover {
    background-color: #98449ae9; /* Color del botón al pasar el ratón */
}

/* Estilos para las tarjetas de libros */
.book-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-card img {
    max-width: 100%; /* Ajustar imagen al tamaño de la tarjeta */
    border-radius: 5px;
}

.button-buy-amazon {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #fd8bffe9; /* Color del botón "Comprar en Amazon" */
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-buy-amazon:hover {
    background-color: #d461d6e9; /* Color del botón al pasar el ratón */
}

/* Estilos para el botón de volver */
#back-button {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #98449ae9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#back-button:hover {
    background-color: #611b63;
}
